<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.js"></script>
    <style>


    </style>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="character in characters">
            {{character}}
        </li>
    </ul>

    <ul>
        <li v-for="(u,index) in user">
            {{index+1}}-{{u.name}}-{{u.age}}
        </li>
    </ul>
    <template v-for="(u,index) in user">
        <h3>{{index}}-{{u.name}}</h3>
        <p>{{u.age}}</p>
    </template>
    <template v-for="(u,index) in user">
        <div v-for="(val,key) in u">
            <p>{{key}}-{{val}}</p>
        </div>
    </template>
</div>
</body>
</html>
<script src="app.js"></script>
