<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vueTree</title>
    <style>
        ul li {
            list-style: none;
        }
    </style>
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
<div id="app">
    <tree :folder="trees" :select="select"></tree>
</div>
</body>
</html>
<script src="../vue2.0.js"></script>
<script type="text/javascript">
    Vue.component('tree',{
        name:'tree',
        template:'<ul>' +
        '<li v-for="(item,index) in folder"  v-show="item.show">' +
        '<h5><i class="icon inho" :class="item.children==null ? \'inhoicon-yuan\':item.children[0].show?\'inhoicon-icon-up1\':\'inhoicon-icon-up\'\"></i>' +
        '<span @click="select(item)">{{item.label}}</span></h5>' +
        '<tree v-if="item.children" :folder="item.children" :select="select"></tree></li>' +
        '</ul>',
        props:['folder','select']
    });
    var app=new Vue({
        el:"#app",
        data:{
            msg:'hello World',
            trees:[
                {
                    id:1,
                    label:'1级目录1',
                    show:true,
                    children:[
                        {
                            id:'1-1',
                            label:'1.1目录',
                            show:true,
                            children:[
                                {
                                    id:'1-1-1',
                                    label:'1.1.1目录',
                                    show:true,
                                }
                            ]
                        },
                        {
                            id:'1-2',
                            label:'1.2目录',
                            show:true,
                        },
                        {
                            id:'1-3',
                            label:'1.3目录'
                        }
                    ]
                },
                {
                    id:1,
                    label:'1级目录1',
                    show:true,
                    children:[
                        {
                            id:'1-1',
                            label:'1.1目录',
                            show:true,
                            children:[
                                {
                                    id:'1-1-1',
                                    label:'1.1.1目录',
                                    show:true,
                                }
                            ]
                        },
                        {
                            id:'1-2',
                            label:'1.2目录',
                            show:true,
                        },
                        {
                            id:'1-3',
                            label:'1.3目录'
                        }
                    ]
                },
            ]
        },
        methods:{
            select(data){
                console.log(data);
                if(data.children!==undefined){
                    data.children.forEach(function (i) {
                        if(i.show==false){
                            i.show=true;
                        }else{
                            i.show=false;
                        }
                    })
                }
            }
        },
        mounted(){
            console.log(this.trees);
        }
    });
</script>