<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="app">
    <blog-post1 title="我是title"></blog-post1>

    <div :style="{fontSize:size1+'px'}">
        <!--监听自定义事件enlarge-text   每次点击size的值更新-->
        <blog-post2 v-for="post in posts" :post="post" v-on:enlarge-text="size1+=0.1"></blog-post2>
        <!--通过$event来获取这个加的值-->
    </div>

    <div :style="{fontSize:size2+'px'}">
        <!--通过$event来获取这个加的值-->
        <blog-post3 v-for="post in posts" :post="post" v-on:enlarge-text="size2+=$event"></blog-post3>
    </div>

    <input type="text" v-model="num"/>
    <custom-input v-model="num"></custom-input>

    <!--中间的信息会通过插槽slot显示-->
    <alert-box>错误的信息</alert-box>
</div>
</body>
</html>
<script src="../../vue-utils/node_modules/vue/dist/vue.js"></script>
<script src="../../vue-utils/node_modules/vue-router/dist/vue-router.js"></script>
<script>
    Vue.component('blog-post1', {
        props: ['title'],//这是属性传递
        template: '<h1>{{title}}</h1>'
    });

    Vue.component('blog-post2', {
        props: ['post'],//这是属性传递一组数据给组件
        template: '<div><h3>{{post.productName}}</h3><div>{{post.productInfo}}</div><button v-on:click="$emit(\'enlarge-text\')" >放大字号</button></div>'//$emit自定义事件
    });
    Vue.component('blog-post3', {
        props: ['post'],//这是属性传递一组数据给组件
        template: '<div><h3>{{post.productName}}</h3><div>{{post.productInfo}}</div><button v-on:click="$emit(\'enlarge-text\',3)" >放大字号</button></div>'//$emit自定义事件   使用第二个参数来传递这个值
    });

    Vue.component('custom-input', {
        props:['value'],//在组件中的input的v-model绑定    是固定的写法
        template: '<input v-bind:value="value" v-on:input="$emit(\'input\',$event.target.value)" />'
    });

    Vue.component('alert-box', {
        template: '<div class="demo-alert-box"><strong>Error!</strong><slot></slot></div>'
    });
    let vm = new Vue({
        el: '#app',
        data: {
            size1: 25,
            size2: 25,
            num:11,
            posts: [
                {
                    "isSelected": true,
                    "productName": "书名1",
                    "productCover": "./chrome-logo.jpg",
                    "productInfo": "描述1",
                    "productPrice": 57.8,
                    "productCount": 3
                },
                {
                    "isSelected": true,
                    "productName": "书名2",
                    "productCover": "./chrome-logo.jpg",
                    "productInfo": "描述2",
                    "productPrice": 57.8,
                    "productCount": 2
                }
            ]
        }
    });

</script>
