<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="app">
    <input type="text" v-model="add" @keyup.enter="fn(1)"/><!--enter、esc键值是修饰符  keyCode也可以13-->
    <ul>
        <li v-for="a in arr">{{a}}</li>
    </ul>
</div>
</body>
</html>
<script src="vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            add: '',
            arr: []
        },
        methods: {//定义方法
            fn(e) {
              //if(e.keyCode==13){
                  this.arr.push(this.add);
                  this.add='';
               //}
        }
    }
    })
    ;

</script>