<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>数组</title>
  <style>
    ul li{
      list-style: none;
    }
  </style>
</head>
<body>
<div id="app">
  <!--要循环谁就在谁的身上增加v-for属性-->
  <!--默认是value of 数组/（value,index）of 数组-->
<ul>
  <li v-for="(fruit,index) of fruits">{{index+1}}{{fruit.name}}</li>
</ul>
  <ul>
    <li v-for="(fruit,index) of fruits">{{index+1}}{{fruit.name}}
    <ul>
      <li v-for="(c,childindex) in fruit.color">
        {{index+1}}.{{childindex+1}}
        {{c}}</li>
    </ul>
    </li>
  </ul>

  <div v-for="c in 'aaa'">{{c}}</div>
  <div v-for="c in 5">{{c}}</div>
  <div v-for="(value,key,index) in obj">{{index+1}}:{{key}}:{{value}}</div>
</div>
</body>
</html>
<script src="../../vue-utils/node_modules/vue/dist/vue.js"></script>
<script>
  //以前拼字符串innerHTML
  //vue提供了一个指令  v-for  解决循环问题的    更高效 会复用原有的结构
  let vm = new Vue({
    el: '#app',
    data:{
      obj:{name:"zxw",age:7},
         fruits:[
           {name:"香蕉",color:['green','yellow']},
           {name:"苹果",color:['red','green','yellow']},
           {name:"西瓜",color:['red','green','yellow']}]
    }
  });

</script>
