<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div id="app">
  <input type="text" v-model="msg" @keyup.13="add"/>

<!--  <input type="text" v-model="msg" @keyup.ctrl.enter="add"/>-->
  <ul>
    <li v-for="(c,index) in arr">{{c}} <button @click="remove(index)">删除</button></li>
  </ul>
</div>
</body>
</html>
<script src="../../vue-utils/node_modules/vue/dist/vue.js"></script>
<script>
  let vm = new Vue({
    el: '#app',
    data:{
         msg:'',
         arr:[]
    },
    methods:{
      add(){ this.arr.unshift(this.msg);  this.msg='';  },
      remove(val){this.arr=this.arr.filter((item,index)=>index!==val)}
    }
  });

</script>
