<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
<!--ng-app指令定义了这是angularJS应用   ng-controller指令定义了应用的控制器-->
<div ng-app="myApp" ng-controller="formCtrl">
    <form novalidate><!--属性是HTML5新增的，禁止了使用浏览器的默认验证-->
        <!--novalidate 属性在应用中不是必须的，但是你需要在 AngularJS 表单中使用，用于重写标准的 HTML5 验证-->
        First Name:<br>
        <input type="text" ng-model="user.firstName"><br><!--ng-model指令绑定了两个input元素到模型的user对象-->
        Last Name:<br>
        <input type="text" ng-model="user.lastName">
        <br><br>
        <!--ng-click指令调用了reset()方法，在点击按钮时调用-->
        <button ng-click="reset()">RESET</button>
    </form>
    <p>form = {{user }}</p>
    <p>master = {{master}}</p>
</div>

<script>
    //formCtrl函数设置了master对象的初始值，并定义了reset()方法
    var app = angular.module('myApp', []);
    app.controller('formCtrl', function($scope) {
        $scope.master = {firstName:"John", lastName:"Doe"};
        //reset()方法设置了user对象等于master对象
        $scope.reset = function() {
            $scope.user = angular.copy($scope.master);
        };
        $scope.reset();
    });
</script>

</body>
</html>
