<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>
<div id="app">
    <!--bootstrap栅格化布局   默认12列-->
    <!--常见的样式   基本样式+增强样式-->
    <!--default灰色 success绿色  danger红色  warning警告色 info浅蓝色 primary蓝色-->
    <!--vue的ui框架 iview，mintui，elementui-->
    <div class="container">
        <!--每一行都有12列-->
        <div class="row">
            <table class="table table-bordered table-hover">
                <caption class="h2 text-warning text-center">购物车</caption><!--表头标题-->
                <tr>
                    <!--click点击时  checkbox的状态还没有改变，所以拿到的总是相反的   change可以保证当值变化后再执行函数-->
                    <th>全选 <input type="checkbox" v-model="checkAll" @change="change"/></th>
                    <th>商品</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>小计</th>
                    <th>操作</th>
                </tr>
                <tr v-for="(product,index) in products">
                    <td>
                        <input type="checkbox" v-model="product.isSelected"  @change="checkOne"/>
                    </td>
                    <!--:和v-bind是等价的  指令：动态绑定数据-->
                    <td><img :src="product.productCover" :title="product.productName" width="30px"/>
                        {{product.productInfo}}
                    </td>
                    <td>
                        {{product.productPrice}}
                    </td>
                    <td>
                        <!--.number是让输入框的值变成数字类型  .lazy当输入框失去焦点时更新数据-->
                        <input type="number" v-model.number="product.productCount" min="1"/>
                    </td>
                    <td>
                        <!--{{'￥'+(product.productCount*product.productPrice).toFixed(2)}}-->
                        <!--过滤器   原数据不变的情况下，只是改变显示的效果   管道符-->
                        {{product.productCount*product.productPrice | toFixed(2)}}
                    </td>
                    <td><button class="btn btn-danger" @click="remove(product)">删除</button></td>
                </tr>
                <tr>
                    <!--colspan合并单元格  数据一变化就会重新调用此函数  算出最新价格   不会缓存上一次的结果   computed可以解决这个问题-->
                    <td colspan="6">总价格：{{sum() | toFixed(2)}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>
</body>
</html>
<script src="../../vue-utils/node_modules/vue/dist/vue.js"></script>
<!--基于promise的获取数据的库文件-->
<script src="../../vue-utils/node_modules/axios/dist/axios.js"></script>
<script>
  let vm = new Vue({
    el: '#app',
    //专门用来发送ajax的方法
    created (){//数据被初始化后调用，这样的函数this的指向也是vm的实例,钩子函数
         this.getData();

    },
    methods:{
        getData(){//初始化方法
            //promise是解决回调问题的
            axios.get('./carts.json').then((res)=>{//success
                console.log(res.data);
                this.products=res.data;
                this.checkOne();//数据获取成功完成后，给checkAll附上默认值
            },(err)=>{//error
                console.log(err);
            });
        },
        remove(p){//p代表的是当前点击的这一项   删除功能
            this.products=this.products.filter(item=>item!==p);
        },
        change(){
            //根据当前自己的状态，改变其他的状态   实现全选和反选
            this.products.forEach(item=>item.isSelected=this.checkAll);
        },
        checkOne(){//根据下面点击的结果控制上面全选的结果
              this.checkAll=this.products.every(item=>item.isSelected);
        },
        sum(){//求和函数
              return this.products.reduce((prev,next)=>{
                if(!next.isSelected) return prev;//如果当前项没有选中，不加这一项的结果
                 return prev + next.productPrice * next.productCount;
            },0)
        }
    },
    data:{
          products:[],
          checkAll:false
    },
    filters:{//可以有好多的自定义过滤器
        toFixed(input,param1){//这里的this指向的是window
            return '￥'+input.toFixed(param1);
            //input代表的是管道符前面的内容   param1代表的是toFixed中传递的参数
        }
    }
  });

</script>
