<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div id="app">
  <!--template标签  是vue提供给我们的，没有实际意义，用来包裹元素用的，v-show不支持template标签，只有v-if使用-->
  <template v-if="flag">
    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
  </template>
<div v-else>2</div>

  <button @click="cut=!cut">点我啊</button>
  <!--默认情况下在切换dom时，相同的结构会复用，如果不需要复用  需要加key-->
  <template v-if="cut">
    <label for="reg">注册</label>
    <input type="text" id="reg" key="1"/>
  </template>
  <template v-else>
    <label>登录</label>
    <input type="text" key="2"/>
  </template>
</div>
</body>
</html>
<script src="../../vue-utils/node_modules/vue/dist/vue.js"></script>
<script>
  let vm = new Vue({
    el: '#app',
    data:{
         cut:true,
         flag:true
    }
  });

</script>
