<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="vue.js"></script>
</head>
<body>
<div id="root">
    <div>
        <input type="text" v-model="inputValue"/>
        <button @click="handleClick">提交</button>
    </div>
    <ul>
        <todo-list v-for="(index,item) of list" :key="index" :index="index" :content="item" @delete="handleDelete"></todo-list>
        <!--父组件向子组件传值使用属性-->
    </ul>
</div>
<script>
    //全局组件
    Vue.component('todo-list', {
        props: ['content','index'],//参数接收
        template: '<li @click="handclick">{{content}}</li>',
        methods:{
            handclick: function () {/*都是一个vue的实例*/
                 this.$emit('delete',this.index);//子组件向父组件传值
            }
        }
    });
    new Vue({
        el: "#root",
        data: {
            inputValue: '',
            list: []
        },
        methods: {
            handleClick: function () {
                this.list.push(this.inputValue);
                this.inputValue = '';
            },
            handleDelete: function (index) {
                this.list.splice(index,1)
            }
        }
    })
</script>
</body>
</html>