<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="vue.js"></script>
</head>
<body>
<div id="root">
   姓：<input type="text" v-model="firstName"/>
    名：<input type="text" v-model="lastName"/>
    <div>{{fullName}}</div>
    <div>{{count}}</div>
</div>
<script>
    new Vue({
        el: "#root",
        data: {
            firstName:"",
            lastName:"",
            count:0
        },
        computed:{//计算属性
            fullName: function () {
                return this.firstName+''+this.lastName;
            }
        },
        watch:{//侦听器
            fullName: function () {
                this.count++
            }
        }
    })
</script>
</body>
</html>