<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="vue.js"></script>
</head>
<body>
<div id="root">
<div>
    <input type="text" v-model="inputValue"/>
    <button @click="handleClick">提交</button>
</div>
    <ul>
        <li v-for="item of list">{{item}}</li>
    </ul>
</div>
<script>
    new Vue({
        el: "#root",
        data: {
            inputValue:'',
            list:[]
        },
        methods:{
            handleClick: function () {
                this.list.push(this.inputValue);
                this.inputValue='';
            }
        }
    })
</script>
</body>
</html>