<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="vue.js"></script>
</head>
<body>
<div id="root">
    <input type="text" v-model="inputValue"/>
    <button @click="btnPush">push</button>
    <button @click="btnPop">pop</button>
    <button @click="btnShift">shift</button>
    <button @click="btnUnshift">unshift</button>
    <button @click="btnSort">sort</button>
    <button @click="btnReverse">reverse</button>
    <ul>
        <todo-list v-for="item in list" v-bind:content="item" v-bind:index="$index" @delete="handleDelete">{{item}}</todo-list>
    </ul>
</div>
<script>
    //全局组件
//    Vue.component('todo-list', {
//        props: ['content','index'],//参数接收
//        template: '<li v-on:click="thisdelete">{{content}}</li>',
//        methods:{
//            thisdelete: function () {
//                this.$emit("delete",this.index);
//            }
//        }
//    });

    //局部组件
    var todoItem={
        props: ['content','index'],//参数接收
        template: '<li v-on:click="thisdelete">{{content}}</li>',
        methods:{
            thisdelete: function () {
                this.$emit("delete",this.index);
            }
        }
    };

    new Vue({
        el: "#root",
        components:{//局部组件注册
           'todo-list':todoItem
        },
        data: {
            inputValue:'',
            list:[]
        },
        methods:{
            btnPush: function () {
                this.list.push(this.inputValue);
                this.inputValue='';
            },
            btnPop: function () {
                this.list.pop();
            },
            btnShift: function () {
                this.list.shift();
            },
            btnUnshift: function () {
                this.list.unshift(this.inputValue);
                this.inputValue='';
            },
            handleDelete: function (index) {
               this.list.splice(index,1);
            },
            btnSort: function () {
                this.list.sort(function (a, b) {
                    return a-b;
                });
            },
            btnReverse: function () {
                this.list.reverse();
            }
        }
    })
</script>
</body>
</html>