<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div id="app">
<loading ref="load"></loading>
</div>
</body>
</html>
<script src="../../../vue-utils/node_modules/vue/dist/vue.js"></script>
<script>
  /*父组件调用子组件的方法*/
  let loading={
          data(){
              return {flag:true}
          },
           template:'<div v-show="flag">加载中...</div>',
          methods:{
                hide(){ this.flag=false }
          }
  };
  let vm = new Vue({
        el: '#app',
        mounted(){//ref如果是放在组件上，获取的是组件的实例，并不是组件的dom元素
    //this.$refs.load.hide();
    //  this.$refs.load.$el.style.background='red';
         },
        data:{   },
         components:{
               loading
         }
  });

</script>
