<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>组件缓存</title>
</head>
<body>
<div id="app">
    <!--template slot transition-->
    <input type="radio" v-model="radio" value="home"/>home
    <input type="radio" v-model="radio" value="list"/>list
    <!--keep-alive一般用作缓存：为后面的路由做准备，如果缓存了就不会在走created mounted钩子函数-->
    <keep-alive>
        <component :is="radio"></component>
    </keep-alive>

</div>
</body>
</html>
<script src="../../vue-utils/node_modules/vue/dist/vue.js"></script>
<script>
    let home={
        template:'<div>home</div>',
         mounted(){alert("挂载")},
         beforeDestroy(){alert("销毁1")}
    };
    let list={
        template:'<div>list</div>',
        mounted(){alert("挂载")},
        beforeDestroy(){alert("销毁2")}
    };
    let vm = new Vue({
        el: '#app',
        components:{
          home,list
        },
        data:{
           radio:'home'
        }
    });

</script>
