<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>属性传递和slot的用法</title>
  <link rel="stylesheet" href="../css/bootstrap.css"/>
</head>
<body>
<div id="app">
  <panel type="primary" @say-title="parent">
    <div slot="title">这是一遍vue学习标题</div>
    <div slot="content">
      <p>组件的属性传递</p>
      <p>slot的用法</p>
      <p>ref的用法</p>
      <p>nextTick的用法</p>
    </div>
    <div>甄晓伟</div>
  </panel>
</div>
<template id="panel">
  <div class="panel" :class="[color]">
    <div class="panel-heading" ref="head">
      <slot name="title"></slot>
    </div>
    <div class="panel-body">
      <slot name="content"></slot>
    </div>
    <div class="panel-footer">
      <slot>匿名</slot>
      <button @click="say">点我说标题</button>
    </div>
  </div>
</template>
</body>
</html>
<script src="../../../vue-utils/node_modules/vue/dist/vue.js"></script>
<script>
  let panel={
    template:"#panel",
    computed:{
      color(){
          return 'panel-'+this.type;
      }
    },
  methods:{
    say(){
      this.$emit('say-title',this.$refs.head.innerText);
    }
  },
    props:{
      type:{//this.type='default'   子组件不能更改父组件传递过来的属性
          type:String,
          default:'default'
      }
    }
  };
  let vm = new Vue({
    el: '#app',
    components:{
        panel
    },
    methods:{
      parent(tit){
         alert(tit)
       }
    }
  });

</script>
