<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>组件复用</title>
  <link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>
<div id="app">

  <panel :type="article.type" @say-title="parent" v-for="(article,index) in articles" :key="index">
    <div slot="title"><span v-html="article.title"></span></div>
    <div slot="content">
    {{article.content}}
    </div>
    <div v-if="article.auth">{{article.auth}}</div>
  </panel>
</div>
<template id="panel">
  <div class="container">
    <div class="panel" :class="[color]">
      <div class="panel-heading" ref="head">
        <slot name="title"></slot>
      </div>
      <div class="panel-body">
        <slot name="content"></slot>
      </div>
      <div class="panel-footer">
        <slot>匿名</slot>
        <button @click="say">点我说标题</button>
      </div>
    </div>
  </div>

</template>
</body>
</html>
<script src="../../../vue-utils/node_modules/vue/dist/vue.js"></script>
<script>
  let panel={
    template:"#panel",
    computed:{
      color(){
          return 'panel-'+this.type;
      }
    },
  methods:{
    say(){
      this.$emit('say-title',this.$refs.head.innerText);
    }
  },
    props:{
      type:{//this.type='default'   子组件不能更改父组件传递过来的属性
          type:String,
          default:'default'
      }
    }
  };
  let vm = new Vue({
    el: '#app',
    components:{
        panel
    },
    methods:{
      parent(tit){
         alert(tit)
       }
    },
     data:{
          articles:[
            {type:'warning',title:'<h2>vue</h2>',content:'这是vue的文章',auth:'作者：zxw'},
            {type:'primary',title:'<h2>react</h2>',content:'这是react的文章',auth:'作者：zxw1'},
            {type:'danger',title:'<h2>angular</h2>',content:'这是angular的文章'},
          ]
      }
  });

</script>
